In [1]:
import pandas as pd
import numpy as np

In [5]:
df_user_data_train = pd.read_csv("train/user_data.csv")
df_train_submission = pd.read_csv("train/train_submissions.csv")
df_problem_data_train = pd.read_csv("train/problem_data.csv")

In [8]:
df_user_data_train.head()

,user_id,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds
0,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436
1,user_3028,63,52,0,India,17,1498998165,405.677,339.450,intermediate,1441893325
2,user_2268,226,203,-8,Egypt,24,1505566052,307.339,284.404,beginner,1454267603
3,user_480,611,490,1,Ukraine,94,1505257499,525.803,471.330,advanced,1350720417
4,user_650,504,479,12,Russia,4,1496613433,548.739,486.525,advanced,1395560498

In [9]:
df_train_submission.head()

     user_id problem_id  attempts_range
0   user_232  prob_6507               1
1  user_3568  prob_2994               3
2  user_1600  prob_5071               1
3  user_2256   prob_703               1
4  user_2321   prob_356               1

In [10]:
df_problem_data_train.head()

  problem_id level_type  points                                 tags
0  prob_3649          H     NaN                                  NaN
1  prob_6191          A     NaN                                  NaN
2  prob_2020          F     NaN                                  NaN
3   prob_313          A   500.0                greedy,implementation
4   prob_101          A   500.0  constructive algorithms,greedy,math

In [11]:
df_sample_sub = pd.read_csv("sample_submissions_wbscxqU.csv")

In [12]:
df_test_sub = pd.read_csv("test_submissions_NeDLEvX.csv")

In [13]:
df_test_sub.head()

                    ID    user_id problem_id
0   user_856_prob_5822   user_856  prob_5822
1  user_2642_prob_2334  user_2642  prob_2334
2  user_2557_prob_2920  user_2557  prob_2920
3  user_1572_prob_4598  user_1572  prob_4598
4   user_295_prob_6139   user_295  prob_6139

In [15]:
df_sample_sub.head()

Empty DataFrame
Columns: [ID, attempts_range]
Index: []

In [16]:
df_problem_data_train.drop(['tags'],axis=1,inplace=True)

In [24]:
df_problem_data_train.points.fillna(0,inplace=True)
df_problem_data_train.level_type.fillna('N',inplace=True)

In [25]:
df_problem_data_train.head()

  problem_id level_type  points
0  prob_3649          H     0.0
1  prob_6191          A     0.0
2  prob_2020          F     0.0
3   prob_313          A   500.0
4   prob_101          A   500.0

In [26]:
df_problem_data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6544 entries, 0 to 6543
Data columns (total 3 columns):
problem_id    6544 non-null object
level_type    6544 non-null object
points        6544 non-null float64
dtypes: float64(1), object(2)
memory usage: 153.4+ KB

In [27]:
df_train_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155295 entries, 0 to 155294
Data columns (total 3 columns):
user_id           155295 non-null object
problem_id        155295 non-null object
attempts_range    155295 non-null int64
dtypes: int64(1), object(2)
memory usage: 3.6+ MB

In [28]:
df_user_data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3571 entries, 0 to 3570
Data columns (total 11 columns):
user_id                      3571 non-null object
submission_count             3571 non-null int64
problem_solved               3571 non-null int64
contribution                 3571 non-null int64
country                      2418 non-null object
follower_count               3571 non-null int64
last_online_time_seconds     3571 non-null int64
max_rating                   3571 non-null float64
rating                       3571 non-null float64
rank                         3571 non-null object
registration_time_seconds    3571 non-null int64
dtypes: float64(2), int64(6), object(3)
memory usage: 307.0+ KB

In [29]:
df_user_data_train.country.fillna('Missing',inplace=True)

In [31]:
df_user_data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3571 entries, 0 to 3570
Data columns (total 11 columns):
user_id                      3571 non-null object
submission_count             3571 non-null int64
problem_solved               3571 non-null int64
contribution                 3571 non-null int64
country                      3571 non-null object
follower_count               3571 non-null int64
last_online_time_seconds     3571 non-null int64
max_rating                   3571 non-null float64
rating                       3571 non-null float64
rank                         3571 non-null object
registration_time_seconds    3571 non-null int64
dtypes: float64(2), int64(6), object(3)
memory usage: 307.0+ KB

In [32]:
def postive_only(x):
    if(x<0):
        return(-1*x)
    else:
        return(x)

In [39]:
df_user_data_train['submission_count']=df_user_data_train['submission_count'].map(lambda x: postive_only(x))
df_user_data_train['problem_solved']=df_user_data_train['problem_solved'].map(lambda x: postive_only(x))
df_user_data_train['contribution']=df_user_data_train['contribution'].map(lambda x: postive_only(x))
df_user_data_train['follower_count']=df_user_data_train['follower_count'].map(lambda x: postive_only(x))
df_user_data_train['last_online_time_seconds']=df_user_data_train['last_online_time_seconds'].map(lambda x: postive_only(x))
df_user_data_train['max_rating']=df_user_data_train['max_rating'].map(lambda x: postive_only(x))
df_user_data_train['registration_time_seconds']=df_user_data_train['registration_time_seconds'].map(lambda x: postive_only(x))

In [40]:
df_user_data_train.head()

,user_id,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds
0,user_3311,47,40,0,Missing,4,1504111645,348.337,330.849,intermediate,1466686436
1,user_3028,63,52,0,India,17,1498998165,405.677,339.450,intermediate,1441893325
2,user_2268,226,203,8,Egypt,24,1505566052,307.339,284.404,beginner,1454267603
3,user_480,611,490,1,Ukraine,94,1505257499,525.803,471.330,advanced,1350720417
4,user_650,504,479,12,Russia,4,1496613433,548.739,486.525,advanced,1395560498

In [41]:
df_user_data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3571 entries, 0 to 3570
Data columns (total 11 columns):
user_id                      3571 non-null object
submission_count             3571 non-null int64
problem_solved               3571 non-null int64
contribution                 3571 non-null int64
country                      3571 non-null object
follower_count               3571 non-null int64
last_online_time_seconds     3571 non-null int64
max_rating                   3571 non-null float64
rating                       3571 non-null float64
rank                         3571 non-null object
registration_time_seconds    3571 non-null int64
dtypes: float64(2), int64(6), object(3)
memory usage: 307.0+ KB

In [48]:
df  = pd.merge(df_train_submission,df_user_data_train, how='left', on='user_id')

In [49]:
df = pd.merge(df,df_problem_data_train,how='left',on='problem_id')

In [50]:
df.head()

,user_id,problem_id,attempts_range,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds,level_type,points
0,user_232,prob_6507,1,53,47,0,Bangladesh,1,1503633778,307.913,206.709,beginner,1432110935,B,1000.0
1,user_3568,prob_2994,3,133,118,0,Missing,0,1502200122,324.255,235.378,beginner,1454664414,C,1500.0
2,user_1600,prob_5071,1,50,44,0,Missing,7,1504719542,343.177,229.358,beginner,1473490873,A,500.0
3,user_2256,prob_703,1,271,233,23,Indonesia,40,1505175115,436.927,399.083,intermediate,1447736644,A,500.0
4,user_2321,prob_356,1,155,135,0,India,80,1505421849,492.546,472.190,advanced,1437724657,D,2000.0

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155295 entries, 0 to 155294
Data columns (total 15 columns):
user_id                      155295 non-null object
problem_id                   155295 non-null object
attempts_range               155295 non-null int64
submission_count             155295 non-null int64
problem_solved               155295 non-null int64
contribution                 155295 non-null int64
country                      155295 non-null object
follower_count               155295 non-null int64
last_online_time_seconds     155295 non-null int64
max_rating                   155295 non-null float64
rating                       155295 non-null float64
rank                         155295 non-null object
registration_time_seconds    155295 non-null int64
level_type                   155295 non-null object
points                       155295 non-null float64
dtypes: float64(3), int64(7), object(5)
memory usage: 24.0+ MB

In [82]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
df['country'] = lb.fit_transform(df['country'])
df['rank'] = lb.fit_transform(df['rank'])
df['level_type'] = lb.fit_transform(df['level_type'])

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155295 entries, 0 to 155294
Data columns (total 15 columns):
user_id                      155295 non-null object
problem_id                   155295 non-null object
attempts_range               155295 non-null int64
submission_count             155295 non-null int64
problem_solved               155295 non-null int64
contribution                 155295 non-null int64
country                      155295 non-null int64
follower_count               155295 non-null int64
last_online_time_seconds     155295 non-null int64
max_rating                   155295 non-null float64
rating                       155295 non-null float64
rank                         155295 non-null int64
registration_time_seconds    155295 non-null int64
level_type                   155295 non-null int64
points                       155295 non-null float64
dtypes: float64(3), int64(10), object(2)
memory usage: 24.0+ MB

In [84]:
X = df.drop(['attempts_range','user_id','problem_id'],axis=1).values
y = df.attempts_range.values

In [85]:
X

array([[  5.30000000e+01,   4.70000000e+01,   0.00000000e+00, ...,
          1.43211094e+09,   1.00000000e+00,   1.00000000e+03],
       [  1.33000000e+02,   1.18000000e+02,   0.00000000e+00, ...,
          1.45466441e+09,   2.00000000e+00,   1.50000000e+03],
       [  5.00000000e+01,   4.40000000e+01,   0.00000000e+00, ...,
          1.47349087e+09,   0.00000000e+00,   5.00000000e+02],
       ...,
       [  1.38000000e+02,   1.17000000e+02,   0.00000000e+00, ...,
          1.47037526e+09,   2.00000000e+00,   1.50000000e+03],
       [  1.85000000e+02,   1.48000000e+02,   0.00000000e+00, ...,
          1.44959835e+09,   1.00000000e+00,   1.00000000e+03],
       [  1.35600000e+03,   1.18600000e+03,   6.00000000e+00, ...,
          1.32291026e+09,   8.00000000e+00,   0.00000000e+00]])

In [90]:
import time
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error,accuracy_score,f1_score
from sklearn.model_selection import cross_val_predict,cross_val_score
from sklearn.metrics import mean_squared_error,log_loss
from sklearn.multiclass import OneVsRestClassifier
from sklearn.neighbors import KNeighborsClassifier
start_time = time.time()

clf_KN_L1 = KNeighborsClassifier()
#clf_GBC.fit(X_train,y_train)

#print("Classifier Created")

score_KN_L1 = cross_val_score(clf_KN_L1,X,y,cv=8,scoring= 'accuracy',n_jobs=-1)
print("Score Created")
print score_KN_L1

y_pred_KN_L1 = cross_val_predict(clf_KN_L1,X,y,cv=8,n_jobs=-1)
print("Training data for next level Created")


print("--- %s seconds ---" % (time.time() - start_time))
#print score
print(f1_score(y,y_pred_KN_L1,average="weighted"))

Score Created
[ 0.49526115  0.49472003  0.49466852  0.49706367  0.49471949  0.49286487
  0.49518314  0.49608449]
Training data for next level Created
--- 2.58938288689 seconds ---
0.439461902206